<div class="container">
  <div class="row pb-xl-5">
    <h1 class="text-center">Sweets Clubについて</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="font-weight-bold">
        <p>当サイトは、気軽に自分の作ったお菓子の投稿ができたり、投稿者さん同士で情報交換を目的としたサイトです。</p>
        <p>気になった方は、まずはゲストログインで利用していただき、気に入っていただけたら登録をお願いします。</p>
        <p>登録していただくとお互いにフォローされている状態ならユーザーページからチャットが使えます!!</p>
        <p>ぜひこのサイトをきっかけに、同じ趣味の方同士交流していきましょう！！</p>
      </div>
    </div>
    <div class="col-md-6">
      <%= image_tag "noel.jpg", style: "object-fit: cover; width 300%; height: 350px; border-radius: 50%;" %>
    </div>
  </div>
</div>