<table class="table">
  <thead class="thead-light">
    <tr>
      <th class="col-2">Name</th>
      <th class="col-2">Follow</th>
      <th class="col-2">Show</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td class="col-2"><%= user.name %></td>
        <td class="col-2"><%= render "public/relationships/btn", user: user, options: { class: "follow-link btn btn-primary" } %></td>
        <td class="col-2"><%= link_to "Show", user, class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>