<footer>
  <div class='container'>
  	<div class='row'>
    	<div class='mt-4 mx-auto'>
    		<i class="fa-solid fa-cake-candles"></i><span>Sweets.Club</span>
    		<%= link_to "管理者ページ", new_admin_session_path %>
    </div>
  </div>
   
</footer>